:root {
  --primary-background-color: #0c0c0c; // темный фон страницы
  --primary-card-background-color: #822EFF; // темный фон карточек

  --primary-text-color: #ffffff; // основной цвет текста для темной темы
  --primary-card-text-color: #ffffff;

  --primary-button-background-color: #822EFF; // фон кнопок для темной темы
  --primary-button-background-hover-color: #5101c7; // фон кнопок при наведении
}

[data-theme='light'] {
  --primary-background-color: #f3f3f3; // светло-серый фон страницы
  --primary-card-background-color: #822EFF; // темный фон карточек

  --primary-text-color: #000000; // основной цвет текста
  --primary-card-text-color: #ffffff;

  --primary-button-background-color: #822EFF; // фон кнопок
  --primary-button-background-hover-color: #5101c7; // фон кнопок при наведении
}

