:root {
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;

  --font-size-1: 12px;
  --font-size-2: 16px;
  --font-size-3: 20px;
  --font-size-4: 24px;
  --font-size-5: 28px;
  --font-size-6: 32px;
  --font-size-7: 36px;
  --font-size-8: 40px;
  --font-size-9: 44px;
  --font-size-10: 48px;

  --border-radius-1: 0px;
  --border-radius-2: 4px;
  --border-radius-3: 8px;
  --border-radius-4: 12px;
  --border-radius-5: 16px;
  --border-radius-6: 20px;
  --border-radius-7: 24px;
  --border-radius-8: 28px;
  --border-radius-9: 32px;
  --border-radius-10: 36px;
}
